# 衡量回归算法的标准

In [1]:
import numpy as np  
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_openml

波士顿房产数据

In [2]:
data_x, data_y = fetch_openml(name="boston",  as_frame=True, return_X_y=True, parser="pandas")

c:\Users\ACER\.conda\envs\ml\Lib\site-packages\sklearn\datasets\_openml.py:301: UserWarning: Multiple active versions of the dataset matching the name boston exist. Versions may be fundamentally different, returning version 1.
  warn(

In [3]:
X = data_x[data_y < 50.0]
y = data_y[data_y < 50.0]
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=666)

In [5]:
from sklearn.linear_model import LinearRegression
linearRegression = LinearRegression()
linearRegression.fit_normal(X_train, y_train)
y_predict = linearRegression.predict(X_test)
score = linearRegression.score(y_test, y_predict)
score

ImportError: cannot import name 'linearRegression' from 'sklearn.linear_model' (c:\Users\ACER\.conda\envs\ml\Lib\site-packages\sklearn\linear_model\__init__.py)